.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  margin-bottom: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* search form classes */
.search-form {
  padding: 15px;
  border: 1px solid grey;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* flight list classes */
.flight-list {
  width: 230px;
  margin: 0 auto;
}
.spacing {
  margin-right: 20px;
}
.flight {
  padding: 20px;
  border: 1px solid grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
